
body {
    background-color:rgb(175, 175, 175);
    font-family: 'Lucida Sans',
     'Lucida Sans Regular', 
     'Lucida Grande', 
     'Lucida Sans Unicode', 
     Geneva, Verdana, sans-serif;
}

.container {
    text-align: center;
    margin: 0 auto;
    width: 900px;
}

.formgroup input,
.formgroup textarea,
#firstnum,
#secondnum
{
    width: 25%;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #200a0a;
    color: #000102;
    padding: 15px 0 10px;
    outline: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row > .formgroup {
    width:50%
}

.row > .formgroup:first-child {
    margin-right: 20px;
}


.operator,
#submit
{
    background-color: #111;
    padding: 15px 20px;
    color: #fff;
    border: none;
    margin: 14px 0;
}

.operator:hover,
#submit:hover {
    color: rgb(4, 170, 40);
}

p {
    padding: 10px;
    margin: 0 auto;
    width: max-content;
    border: 2px solid #000102;
}